* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: palevioletred;
}

.drops {
    position: relative;
}

.drop {
    position: absolute;
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 58% 42% 65% 35% / 46% 56% 44% 54%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}

.drop::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 35px;
    background: whitesmoke;
    width: 20px;
    height: 20px;
    border-radius: 86% 14% 42% 58% / 42% 57% 43% 58%;
}

.drop::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 65px;
    background: whitesmoke;
    width: 10px;
    height: 10px;
    border-radius: 58% 42% 35% 65% / 42% 31% 69% 58%;
}

.drop:nth-child(2) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 58% 42% 64% 36% / 42% 48% 52% 58%;
}

.drop:nth-child(3) {
    transform: scale(0.5) translate(280px, 10px);
    border-radius: 54% 46% 64% 36% / 56% 60% 40% 44%;
}

.drop:nth-child(4) {
    transform: scale(0.35) translate(180px, -340px);
    border-radius: 56% 44% 80% 20% / 29% 66% 34% 71%;
}